
Reflection tasks Assessment Criteria.docx

Resources/CSL_Participants.md

Slides/2-Overview-BushTuringEnglebart.key

.DS_Store

Resources/Eisenhower Farewell Address (Best Quality) - Military Industrial Complex WARNING [HD, 720p].mp4

DraftWriting/

1570_66427.csv
