
Reflection tasks Assessment Criteria.docx

Resources/CSL_Participants.md

Slides/2-Overview-BushTuringEnglebart.key

.DS_Store

Resources/Eisenhower Farewell Address (Best Quality) - Military Industrial Complex WARNING [HD, 720p].mp4

DraftWriting/

Assessment/

.DS_Store

Resources/Saklofske-FeministWarGame-DHSI2016.pdf

.DS_Store

Slides/.DS_Store

Slides/.DS_Store
